*{
    margin: 5px;
    padding: 5px;

}

h1 {
    text-align: center;
    color: chocolate;
}
h3{
    color: chocolate;
}
h5{
    color: chocolate;
}

.home{
    display: flex;
}

in-flex{
    flex: 1;
}
in-flex first-child{
    flex: 2;
}
in-flex first-child{
    flex: 3;
}
.info{
    text-align: center;
    padding: 10px;
}

